* {
  box-sizing: content-box;
  font-family: 'Cousine';
}

.sol-light {
  background-color: rgb(253, 246, 227);
  color: rgb(101, 123, 131);
}

.sol-light h3 {
  color: #859900;
}

.sol-light h4 {
  color: rgb(33, 139, 210);
}

.sol-light h6 {
  color: #2aa198;
}

.sol-light small {
  color: #2aa198;
}

.sol-light a {
  color: #cb4b16;
}

.sol-dark {
  background-color: rgb(7, 54, 66);
  color: rgb(147, 161, 161);
}

.sol-dark h3 {
  color: #859900;
}

.sol-dark h4 {
  color: rgb(33, 139, 210);
}

.sol-dark h6 {
  color: #2aa198;
}

.sol-dark small {
  color: #2aa198;
}

.sol-dark a {
  color: #cb4b16;
}

.origami-light {
  background-color: #ffffff;
  color: #242935;
}

.origami-dark {
  background-color: #242935;
  color: #ffffff;
}

.origami h3 {
  color: #07080c;
}

.origami h4 {
  color: #16151a;
}

.origami h6 {
  color: #a7a9ab;
}

.origami small {
  color: #a7a9ab;
}

.origami a {
  color: #151716;
}
